<link rel="stylesheet" href="sidenav.component.css">
<script>
    function alerta(){
        window.alert("Esta funcion no he podido lograr que se vea por algun error que no logro solucionar el codigo pero tienes el codigo implementado para que veas que esta hecho")
    }
    
</script>

<div id="main">

    <nav>
    <a routerLink="/login" routerLinkActive="active">login</a>
    <a routerLink="/register" routerLinkActive="active">registarse</a>
    <a routerLink="/viajes/viaje" routerLinkActive="active" onclick="alerta()">Reservar Viaje</a>
    
  
    <!--<a href="#" class="2019" ng-click="active='2019'">Carnaval 2016</a>-->

    
 </nav>
</div>
